:root {
    --colorText: #BDC3C7;
    --colorLink: #778beb;
    --colorLinkHover: #3e56cc;
    /*Spoiler*/
    --spoilerBackground: #1a1a1aff;
    --spoilerForground: #BDC3C7;
    --spoilerBackgroundHover: #373737ff;
    /*Line Block*/
    --lineblockBackground: #282828;
    --lineblockBorder: #1a1a1aff;
}